body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(78, 71, 71);
}

.container {
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.Section {
display: flex;
flex-direction: column;
border: 1px solid black;
border-radius: 10px;
gap: 10px;
background: rgb(34, 33, 33);
align-items: center;
}
.inputSection {
  color: white;
  padding: 10px;
  padding-bottom: 0px;
  margin-top: 20px;
  width: 190px;
  height: 40px;
  font-size: 19px;
  font-weight: bold;
  background: gray;
  border: none;
  display: flex;
  align-items: end;
  justify-content: center;
}
h1 {
  margin: 0;
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-family: arial;
}
.btnSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 10px;
  padding-top: 5px;
}
.btn {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: bold;
  Font-size: 19px;
  cursor: pointer;
  color: white;
  background: rgb(68, 68, 68);
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 1;
}

.equal {
  grid-column: 4
}
.dot {
  grid-column: 3
}
.zero {
  grid-row: 5;
  grid-column: 1 / 2 span;
  background: white;
  width: auto;
  border-radius: 10px;
  background: rgb(68, 68, 68);
}
.cancel,
.signs,
.rmnder {
  background: gray;
}
.divide,
.times,
.minus,
.plus,
.equal {
  background: orange;
}